<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">FiesTA Awwards</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search by nan" aria-label="Search">
    </form>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/jury">Jury</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/nominate">+ Nominate</a>
        </li>
      </ul>
      <!-- Google Sign In Button -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
         
            <a class="btn btn-outline-primary" href="/auth/google">Sign in with Google</a>
            <a class="btn btn-outline-primary" href="/logout">logout</a>
    
         
        </li>
      </ul>
    </div>
  </div>
</nav>
